* {
    box-sizing: border-box;
}

body {
    background-image: url("./images/Home Page.jpg");
}

nav {
    width: 100%;
    height: 200px;
}


ul li {
    list-style: none;
    display: flex;
    float: right;
    line-height: 50px;
    
}

ul li a {
    display: block;
    text-decoration: none;
    font-family: 'Kumbh Sans';
    font-size: 54px;
    color: white;
    padding: 50px 50px;
    width: auto;
}

ul li a:hover {
    color: grey
}

.flex-container {
    display: flex;
    gap: 100px;
    align-items: flex-start;
}

.id-card {
    width: 935px;
    height: 512px;
    z-index: 0;
    background-color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: left;
    margin-top: 100px;
    padding: 40px;
    flex-direction: column;
}

.api-container {
    width: 356px;
    height: 512px;
    background-color: #d2d2d2;
    z-index: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: left;
    margin-left: 100px;
    margin-top: 100px;
}

.api-container img {
    position: absolute;
    margin-left: -10px;
    margin-top: -100px;
    width: 400px;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
}


.id-card h1{
    font-size: 36px;
    margin-left: 400px;
    margin-top: -250px;
    margin-bottom: 0px;
}

.id-card p{
    font-size: 32px;
    margin-left: 20px;
    margin-left: 300px;
    margin-bottom: 0px;
}

.id-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.icon-row {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
    margin-left: -1000px;
    margin-bottom: 100px;
    z-index: 0;
}

.icon-row img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}